[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "~=1.25"

[dev-packages]
isort = "*"
black = "*"
flake8 = "*"
mypy = "*"
ipykernel = "*"
pytest = "*"

[requires]
python_version = "3.11"

[scripts]
test = "python -m pytest -vx"
