[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "~=1.25"

[dev-packages]
ipykernel = "*"
pytest = "*"
ruff = "*"

[requires]
python_version = "3.12"

[scripts]
test = "python -m pytest -vx"
ruff = "python -m ruff check ."
